 # docker-compose.yml
version: '3.8'

services:
  mongo:
    image: mongo:8
    container_name: ims-mongodb
    restart: always
    ports:
      - "27017:27017"     # expose to host for testing
    networks:
      - inventory-net
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inventory-backend
    restart: always
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://ims-mongodb:27017/ims-db
      - PORT=5000
      - JWT_SECRET=Sp1031inventory
    ports:
      - "5000:5000"        # public port mapping
    networks:
      - inventory-net
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: inventory-frontend
    restart: always
    environment:
      - VITE_API_URL=http://localhost:5000   # call backend via mapped port
    ports:
      - "3000:5173"
    networks:
      - inventory-net
    depends_on:
      - backend

networks:
  inventory-net:
    driver: bridge

volumes:
  mongo-data:
