 version: '3.8'

 services:
  mongo:
    image: mongo:8
    container_name: ims-mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - inventory-net

  backend:
  build:
    context: ./backend
  container_name: inventory-backend
  restart: always
  environment:
    NODE_ENV: production
    MONGO_URI: mongodb://ims-mongodb:27017/ims-db
    PORT: 5000
  ports:
    - "5000:5000"   # <-- change here
  networks:
    - inventory-net
  depends_on:
    - mongo


  frontend:
    build:
      context: ./frontend
    container_name: inventory-frontend
    restart: always
    networks:
      - inventory-net
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: inventory-nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./frontend/build:/usr/share/nginx/html:ro
    ports:
      - "80:80"   # public port
    networks:
      - inventory-net
    depends_on:
      - frontend
      - backend

 networks:
  inventory-net:
    driver: bridge

 volumes:
  mongo-data:
