 services:
  mongo:
    image: mongo:8
    container_name: ims-mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - inventory-net

  backend:
    build: ./backend
    container_name: inventory-backend
    restart: always
    environment:
      MONGO_URI: mongodb://ims-mongodb:27017/ims-db
      PORT: 5000
    ports:
      - "5000:5000"
    networks:
      - inventory-net
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://54.144.116.87:5000  # ADD THIS
    container_name: inventory-frontend
    restart: always
    ports:
      - "80:80"  # ADD THIS - expose frontend
    networks:
      - inventory-net
    depends_on:
      - backend

 networks:
  inventory-net:
    driver: bridge

 volumes:
  mongo-data:
